body {
  padding-top: 75px;
}

html {
  scroll-padding-top: 75px;
}

#home {
  height: 90vh;
  background-image: url('./images/andy-li-r2AlgxMb-yc-unsplash.jpg  ');
  background-size: cover;
  background-position: center;
}